.input--std {
  transition: $std-transition-duration;
  @include std-font-props;
  @extend .std-height;
  @apply bg-primary rounded-md p-sm w-full;

  @media (hover) {
    &:hover {
      @apply bg-primary-variant;
      outline: none !important;
    }
  }

  &:focus,
  &:active {
    @apply bg-primary-variant;
    outline: none !important;
  }

  &::placeholder {
    color: var(--primary) !important;
  }
}

.input--active {
  @extend .input--std;
  @apply bg-primary-variant;
}
