.theme {
  --black: #000000;
  --white: #ffffff;

  &--dark {
    @extend .theme;
    --primary: #181d1e;
    --primary-variant: #3c3f3f;
    --secondary: #ed6a12;
    --secondary-variant: #9f3f00;
  }
}

.std-border {
  @apply border-2;
}
