@import "variables";

:root {
  --app-max-width: 40rem;
  // --footer-height: 3rem;
}

html,
body {
  @extend .fancy-scrollbar;
}

main {
  width: 100% !important;
  max-width: var(--app-max-width) !important;
}

.std-height {
  height: $std-component-height;
  max-height: $std-component-height;
}

.spacer {
  flex: 1 !important;
  flex-grow: 1 !important;
}

@import "font";
@import "animations";
@import "buttons";
@import "input";
@import "scroll";
@import "theme";
